{% extends 'base.html' %}

{% block content %}

<div class="d-grid mt-5 col-10 container-fluid justify-content-around">
  <form class="d-flex flex-column bg-warning-subtle w-100 p-3  text-secondary border border-white rounded-5" action="" method="POST">
    <small class="bg-black p-2 text-center text-warning border border-black fw-semibold rounded-2 mb-3">Are you sure you want to <h4 class="fs-5 text-white mt-2">DELETE THIS STUDENT</h4>This action <u>CANNOT</u> be undone. </small>
    {% csrf_token %}
    <button class= "btn btn-outline-dark m-5 border border-warning border-4 fw-bold rounded-3" type="submit" value="Yes">Yes, I want to delete this concept.</button>
    <a class= "btn btn-outline-dark m-5 border border-warning border-4 fw-bold rounded-3" href="{% url 'detail' concept.id %}" value="No">Nevermind, i want to keep this concept.</a>
  </form>
  </div>
{% endblock %}

