{% extends 'base.html' %}

{% block content %}
<div class="d-grid col-10 mt-5 container-fluid justify-content-around">
  <form class="d-flex flex-column bg-warning-subtle w-100 p-3  text-secondary border border-white rounded-5" action="" method="POST">
    <small class="bg-black p-2 text-center text-warning border border-black fw-semibold rounded-2 mb-3">Are you sure you want to <h4 class="fs-5 text-white mt-2">DELETE THIS LESSON NOTE</h4>This action <u>CANNOT</u> be undone. </small>
    {% csrf_token %}
    <button class= "btn btn-outline-dark m-5 border border-warning border-4 fw-bold rounded-3" type="submit" value="Yes">Yes, I want to delete this note.</button>
    <a class="btn btn-outline-dark m-5 border border-warning border-4 fw-bold rounded-3" href="{% url 'students_index' %}"> No, I'd like ot keep this note.</a>
  </form>
{% endblock %}