{% extends 'base.html' %}
{% block content %}

<div>
<form class="d-flex flex-column bg-warning-subtle w-100 p-3 justify-content-left text-secondary border border-white rounded-5" action="" method="POST">
  <h3 class="bg-warning p-2 text-black border border-black fw-semibold rounded-2 mb-5">add a new <strong class="text-secondary fs-2">student</strong></h3> 
    {% csrf_token %}
    <table>
      {{ form.as_table }}

    </table>
    <input class="btn btn-outline-dark m-5 border border-warning border-4 fw-bold rounded-3" type="submit" value="Save Student" class="btn">
  </form>
</div>
{% endblock %} 