{% extends 'base.html' %}
{% block content %}
<h2>About the Lesson Note Generator</h2>
<div> <p>The Lesson Summary Generator (LSG) is a tool for a user (likely an instructor, teacher, or a tutor) to create a list of students and list of concepts the instructor will cover. The user can then use a form to enter a student's performance on homework, the concepts covered during the lesson, and assignments for the next lesson. Using that form, LSG will create summaries using OpenAI. Ultimately, these summaries can then be modified or edited for clarity or length as needed.</p>
</div>

{% endblock %} 