{% extends 'base.html' %}
{% block content %}
<h2 class="fw-bold fs-1 container-fluid text-center justify-content-center mt-5 w-50 p-2 bg-white border border-black rounded-3">About the Lesson Note Generator</h2>
<div class="container-fluid mx-2 p-3"></div> <p class="container-fluid fs-2 mx-3 p-5"><strong>The Lesson Summary Generator (LSG) </strong> is a tool for a user (likely an instructor, teacher, or a tutor) to create a list of students and list of concepts the instructor will cover. The user can then use a form to enter a student's performance on homework, the concepts covered during the lesson, and assignments for the next lesson. Using that form, LSG will create summaries using OpenAI. Ultimately, these summaries can then be modified or edited for clarity or length as needed.</p>
</div>

{% endblock %} 