<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Summary Generator</title>
</head>
<body>
    <header> 
        <nav>
                <div>
                    <a href="{% url 'home' %}">home</a>
                    <a href="{% url 'about' %}">about</a>
                    <a>add new concepts</a>
                    <a>add new students</a>
                    <a>all students</a> </a>
                    <a href ="{% url 'concepts_index' %}">all concepts</a>
                </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>