{% extends 'base.html' %} {% block content %}

<div>
  <div>
    <h1>Concept Details</h1>
    <div>
        <button href="{% url 'concept_update' concept.id %}" value="Edit">Edit this concept</button>
        <button href="{% url 'concept_delete' concept.id %}" value="Delete">Delete this concept</button>
      </div>
  </div>
  <div>
    <div>
        <h3>Concept Name:</h3>
        <p>{{concept.name}}</p>
    </div>
    <div>
        <h3>Description:</h3>
        <p>{{concept.description}}</p>
    </div>
    <div>
        <h3>Keywords:</h3>
        <p>{% for keyword in concept.keywords %} <ul><li>{{ keyword }}</li></ul> {% endfor %}</p>
    </div>
  </div>
</div>

{% endblock %}
