{% extends 'base.html' %}
{% block content %}
<div class="d-grid container-fluid justify-content-center">
<h2 class="d-grid gap-2 fs-1 container-fluid text-center mt-5 w-50 p-2 bg-black border border-white rounded-2"><small class="text-secondary">About the </small><strong class="text-warning"> Lesson Summary Generator</strong></h2>

<div class="d-flex flex-row container-fluid m-1 p-1  bg-warning-subtle border border-black rounded-2"> <p class="container-fluid justify-content-center fs-4 mx-3 p-2"><strong class="text-secondary">The Lesson Summary Generator (LSG) </strong> <small class="fs-5">is a tool for a user (likely an instructor, teacher, or a tutor) to create a list of students and list of concepts the instructor will cover. The user can then use a form to enter a student's performance on homework, the concepts covered during the lesson, and assignments for the next lesson. Using that form, LSG will create summaries using OpenAI. Ultimately, these summaries can then be modified or edited for clarity or length as needed.</small></p>
</div>
</div>
{% endblock %} 