{% extends 'base.html' %}
{% block content %}
<div>
<h2 class="fs-1 container-fluid text-center mt-5 w-50 p-2 bg-warning border border-black rounded-2">About the <strong> Lesson Summary Generator</strong></h2>

<div class="container-fluid m-2 p-3  bg-warning rounded-3"> <p class="container-fluid justify-content-center fs-2 mx-3 p-5"><strong>The Lesson Summary Generator (LSG) </strong> is a tool for a user (likely an instructor, teacher, or a tutor) to create a list of students and list of concepts the instructor will cover. The user can then use a form to enter a student's performance on homework, the concepts covered during the lesson, and assignments for the next lesson. Using that form, LSG will create summaries using OpenAI. Ultimately, these summaries can then be modified or edited for clarity or length as needed.</p>
</div>
</div>
{% endblock %} 