{% extends 'base.html' %}
{% block content %}
<div class="d-flex container-fluid flex-row fs-4 p-3 bg-warning justify-content-around w-50 rounded-2">
    <div class="m-1 p-1 bg-black w-75  fs-4 fw-bold text-center text-white border border-3 border-white rounded-2"> lesson </div>
    <div class="m-1 p-1 bg-warning-subtle fs-4 w-75 text-center fw-bold border border-3 border-secondary text-secondary rounded-2"> summary </div>
    <div class="m-1 p-1 bg-white   w-75 fw-bold text-center border border-3 border-black rounded-2"> generator </div> 
</div>

{% if user.is_authenticated %}
<div class="d-grid gap-2 col-10 mx-auto bg-secondary p-3 border border-3  border-white rounded-2">
    <h3 class="text-center fs-1 text-white">what would you like to do today?</h3>
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href="{% url 'concept_create' %}">add a new concept</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3  fs-2 fw-semi-bold" role="button" href="{% url 'student_create' %}">add a student</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3  fs-2 fw-semi-bold" role="button" href="{% url 'students_index'%}">view all my students</a> 
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href ="{% url 'concepts_index' %}">view all concepts</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href="{% url 'logout' %}">log out</a>
</div>
{% else %}
<div class="d-grid gap-4 col-10 mx-auto bg-secondary p-3 border border-white rounded-2">
    <a class="btn btn-dark btn btn-outline-warning border fs-2 fw-semi-bold " role="button"href="{% url 'signup' %}">sign up</a>
    <a class="btn btn-dark btn btn-outline-warning border fs-2 fw-semi-bold" role="button" href="{% url 'login' %}">log in</a>
</div>
{% endif %}
{% endblock %} 