{% extends 'base.html' %}
{% block content %}
<div class="d-flex container-fluid flex-row p-5 bg-warning justify-content-around w-75 rounded-2">
    <div class="d-flex container-fluid m-1 p-5 d-flex bg-black justify-content-around w-75 fs-1 fw-bold text-white border border-3 border-white rounded-2">lesson</div>
    <div class="d-flex container-fluid m-1 p-5 d-flex bg-warning-subtle justify-content-center w-75 fs-1 fw-bold border border-3 border-secondary text-secondary rounded-2">summary</div>
    <div class="d-flex container-fluid m-1 p-5 d-flex bg-white justify-content-around fs-1 w-75 fw-bold border border-3 border-black rounded-2">generator</div> 
</div>

{% if user.is_authenticated %}
<div class="d-grid gap-2 col-10 mx-auto bg-secondary p-3 border border-3  border-white rounded-2">
    <h3 class="text-center fs-1 text-white">what would you like to do today?</h3>
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href="{% url 'concept_create' %}">add a new concept</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3  fs-2 fw-semi-bold" role="button" href="{% url 'student_create' %}">add a student</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3  fs-2 fw-semi-bold" role="button" href="{% url 'students_index'%}">view all my students</a> 
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href ="{% url 'concepts_index' %}">view all concepts</a>
    <a class="btn btn-dark btn btn-outline-warning border border-3 fs-2 fw-semi-bold" role="button" href="{% url 'logout' %}">log out</a>
</div>
{% else %}
<div class="d-grid gap-4 col-10 mx-auto bg-secondary p-3 border border-white rounded-2">
    <a class="btn btn-dark btn btn-outline-warning border fs-2 fw-semi-bold " role="button"href="{% url 'signup' %}">sign up</a>
    <a class="btn btn-dark btn btn-outline-warning border fs-2 fw-semi-bold" role="button" href="{% url 'login' %}">log in</a>
</div>
{% endif %}
{% endblock %} 