{% extends 'base.html' %}
{% block content %}

<div>
  <div>
    <h1>Student Details</h1>
    <div>
       <button><a href="{% url 'student_update' Student.id %}" value="Edit">Edit this</a></button>
       <button><a href="{% url 'student_delete' Student.id %}" value="Delete"> Delete this</a></button>
       <button><a value="Enter a new lesson note">Enter a new lesson note</a></button>
      </div>
  </div>
  <div>
    <div>
        <p><strong>Student Name:</strong> {{Student.first_name}} {{Student.last_name}}</p>
    </div>
    <div>
      <p><strong>Pronouns:</strong> {{ Student.pronouns}} </p>
  </div>
    <div>
        
        <p><strong>Program Type: </strong> {{ Student.program_type}}</p>
    </div>
  </div>
  <div>
    <h2>Lesson Summaries</h2>
    <ul>
        {% for lesson_note in lesson_notes %}
            <li>{{ lesson_note.lesson_summary|safe }}</li>
            <button><a href="{% url 'lesson_note_detail' Student.id lesson_note.id %}">Edit/View the lesson note</a></button>
        {% endfor %} 
    </ul>
  </div>
</div>

{% endblock %}
