<!-- {% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <p><strong>Student Name:</strong> {{Student.first_name}} {{Student.last_name}}</p>
    </div>
    <div>
      <p><strong>Pronouns:</strong> {{ Student.pronouns}} </p>
  </div>
    <div>
        
        <p><strong>Program Type: </strong> {{ Student.program_type}}</p>
    </div>
  </div>

<form action="{% url 'add_lesson_note' Student.id %}" method="POST">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
</form>
{% endblock %}  -->